.bg-teal-card {
  background-color: $primary-bg;
  border-radius: 8px;
  padding: 1.5rem;
  transition: all 0.6s linear;
  .icon {
    height: 2.5rem;
    transition: all 0.6s linear;
  }
  .h6-card {
    font-weight: 700;
    color: $primary;
    transition: all 0.6s linear;
  }
  p {
    transition: all 0.6s linear;
  }
  
  &:hover {
    background-color: $primary;
    .icon {
      filter: brightness(800%);
      // filter: brightness(0%) invert(100%);
    }
    .h6-card {
      font-weight: 700;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}