.bg-teal-card {
  background-color: $primary-bg;
  border-radius: 8px;
  padding: 0.8rem;
  transition: all 0.6s linear;
  .icon {
    height: 2.5rem;
    transition: all 0.6s linear;
  }
  .h6-card {
    font-weight: 700;
    color: $primary;
    transition: all 0.6s linear;
  }
  p {
    transition: all 0.6s linear;
  }
  
  &:hover {
    background-color: $primary;
    .icon {
      filter: brightness(800%);
    }
    .h6-card {
      font-weight: 700;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}

@media (min-width: 1024px) {
  .bg-teal-card {
    background-color: $primary-bg;
    border-radius: 8px;
    padding: 1.1rem;
    transition: all 0.6s linear;
  }
}
@media (min-width: 1200px) {
  .bg-teal-card {
    background-color: $primary-bg;
    border-radius: 8px;
    padding: 1.5rem;
    transition: all 0.6s linear;
  }
}