.new-4 {
  background-image: url(../images/featured/women-coat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.new-5 {
  background-image: url(../images/featured/mens-coat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.new-6 {
  background-image: url(../images/featured/woman-blazer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}