#navigation {


  .nav-link {
    color: #FFFFFF !important;
    i {
      color: #FFFFFF !important;
    }
    &:hover {
      color: $background-dark !important;
      i {
        color: $background-dark !important;
      }
    }
  }
  .icon-hover {
    color: #FFF !important;
    &:hover i {
      color: $background-dark !important;
    }
  }
}
.value {
  .dropdown {

    ul {
      transform: translate(0px, 10px) !important;
      border: none !important;
      border-radius: 0;
      background-color: $background-dark;
      li {
        a {
          color: #fff !important;
          background-color: $background-dark;
          &:hover {
            background-color: #141e53;
            filter: brightness(1);
            color: #FFF !important;
          }
        }
  
      }
  
    }
  
  }
}
.browse {
  .dropdown {

    ul {
      transform: translate(0px, 42px) !important;
      border: none !important;
      border-radius: 0;
      background-color: $background-dark;
      width: 100%;
      li {
        a {
          color: #fff;
          background-color: $background-dark;
          &:hover {
            background-color: #141e53;
            filter: brightness(1);
            color: #FFF !important;
          }
        }
  
      }
  
    }
  
  }
}
@media (min-width: 1024px) {
  .browse {
    .dropdown {
      ul {
        transform: translate(0px, 46px) !important;
      }
    
    }
  }
}