$background-light: #FFFFFF;
$background-light2: #EEEEEE;
$background-light3: #F6F6F6;
$background-dark: #0E153D;
$overlay: #0E153DD9;
$background-my-account: #0E153DA6;

$primary: #20D3C2;
$primary-bg: #20D3C214;
$gray: #AAA;

$border: #E3E3E3;

$bullet-red: #FE6C6C;
$bullet-green: #82D8C6;